@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-gaist-mono), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-gaist-mono), ui-serif, serif;
  --font-mono: var(--font-gaist-mono), ui-monospace, monospace;
}

#aside {
  transition: left 0.2s ease-out;
}

@media (max-width: 1024px) {
  body[data-sidebar="true"] #aside {
    left: 0;
  }

  body[data-sidebar="false"] #aside {
    left: -250px;
  }
}
