@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-space-mono), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-space-mono), ui-serif, serif;
  --font-mono: var(--font-space-mono), ui-monospace, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
}

#aside {
  transition: left 0.2s ease-out;
}

@media (max-width: 1024px) {
  body[data-sidebar="true"] #aside {
    left: 0;
  }

  body[data-sidebar="false"] #aside {
    left: -250px;
  }
}
